@import "_reset.scss";
@import url('https://fonts.googleapis.com/css?family=Redressed|Redressed|Questrial');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.css");

$dark_primary_color: #455A64;
$primary_color: #607D8B;
$light_primary_color: #CFD8DC;
$text_icons: #FFFFFF;
$accent_color: #9E9E9E;
$primary_text: #212121;
$secondary_text: #757575;
$divider_color: #BDBDBD;

html {
    box-sizing: border-box;
}

body {
    font-family: Questrial, Helvetica, Arial, Verdana;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    background: $primary_color;
    color: $text_icons;
    margin: 0;
    padding: 20px 0p 10px;
    width: 100%;
    position: relative;

    h1 {
        padding: 60px 20px 0;
        margin: 0 auto 5px;
        max-width: 1280px;
    }

    .position {
        color: $light_primary_color;
        position: relative;
        margin: 0 auto;
        max-width: 1280px;
        padding: 0 20px 10px;

        #avatar {
            position: absolute;
            top: 20px;
            right: 20px;
            top: -15px;

            img {
                transform: rotate(-33deg);
                right: 140px;
                width: 90px;
                border-radius: 50%;
                box-shadow: 3px 10px 10px -6px rgba(0, 0, 0, 0.44);

                @media screen and (min-width: 1024px) {
                    width: 150px;
                }
            }
        }

        #mail {
            font-size: 20px;
            bottom: 0;
            left: 55px;
            position: absolute;
            border-radius: 50%;
            background: $accent_color;
            color: $text_icons;
            padding: 10px;
            opacity: 0.8;

            @media screen and (min-width: 1024px) {
                font-size: 25px;
                padding: 15px;
                left: 90px;
            }

            &:hover {
                transition: opacity 0.5s ease;
                opacity: 1;
            }
        }
    }

    .languages {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;

        a {
            opacity: 1;
            font-size: 30px;
            margin: 0 0 0 5px;
        }
    }
}

body {
    font-size: 16px;
    background-color: $text_icons;
    color: $primary_text;
}

.content {
    margin: 70px auto 20px;
    max-width: 1280px;

    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
    }
}

ul.main-content {

    > li {
        margin: 40px 20px 0;
    }

    @media screen and (min-width: 1024px) {
        width: 65%;
    }
}

ul.side-content {

    > li {
        margin: 40px 20px 0;
    }

    @media screen and (min-width:1024px) {
        width: 30%;
    }
}

.content-block {
    margin: 0 0 10px 0;

    &:last-child {
        margin: 0 0 0 0;
    }
}

.bullet-list {
    margin: 0;

    li {
        font-size: 1rem;
        list-style-type: none;
        padding: 0;
        margin: 15px 0;
        line-height: 120%;

        &:first-child {
            margin-top: 0;
        }
    }
}

.block-list {
    > li {
        margin: 40px 0 0;
    }
}

li {
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.list-style-1 {

    > li {
        margin: 5px 0 0;

        a {

            &:hover {
            }

            .fa {
                width: 25px;
            }
        }
    }
}

.list-style-2 {
    color: $secondary_text;

    > li {
        display: flex;
        justify-content: space-between;

        .name {
            width: auto;
        }

        .level {
            width: auto;
        }
    }
}

.list-style-3 {
    li {
        margin: 0 0 5px;
    }
}

.list-style-4 {
    font-size: 1rem;
    align-items: center;
    padding: 0 0 10px;
    margin: 0 0 20px;

    li {
        margin: 15px 0 0;
        line-height: 90%;
    }

    .text-1 {
        width: 100%;
        margin: 0 10px 5px 0;

        a {
        }

        @media screen and (min-width: 568px) {
            width: auto;
            margin-right: 5px;
        }
    }

    .text-2 {
        width: 100%;
        margin: 0 10px 5px 0;

        @media screen and (min-width: 568px) {
            width: auto;
            margin-right: 5px;
        }
    }

    .text-3 {
        width: 100%;
        opacity: .6;
        margin: 0 10px 5px 0;

        @media screen and (min-width: 568px) {
            width: auto;
        }
    }
}

.list-style-5 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > li {
        background-color: #444;
        padding: 5px;
        border-radius: 5px;
        margin: 0 5px 5px 0;
    }
}

.list-style-6 {

    .group {
        color: $primary_text;

        > ul {
            color: $secondary_text;

            > li {
                display: flex;
                justify-content: space-between;
                margin: 0 0 5px;

                .name {
                    width: auto;
                }

                .level {
                    width: auto;
                }
            }
        }
    }
}

.list-style-10 {
    padding: 1rem 0;
    border-bottom: 1px dashed $primary_color;
    margin: 0 0 1rem;
}

.text-1,.text-2,.text-3 {
    font-family: Redressed, sans-serif;
    line-height: 100%;
}

.text-1,.text-2,.text-3 {
    margin: 0 0.5rem 0 0;
    font-size: 1.2rem;
}
.text-1 {
    color: $dark_primary_color;
}
.text-2 {
    color: $primary_color;
}
.text-3 {
    color: $accent_color;
}

.details {
    color: $secondary_text;
}

.client-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        line-height:90%;
        width: 100%;
        height: 100%;
        margin: 2px 0;

        a {
            &:hover {
            }

            .fa {
                width: 25px;
            }
        }
    }
}

p {
    margin: 10px 0 0;
}

a {
    text-decoration: none;
    color: $secondary_text;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Redressed, sans-serif;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    margin-bottom: 24px;
    padding: 0 0 10px;
    border-bottom: 1px solid #aaa;
}

h3 {
    font-size: 18px;
    margin: 20px 0;
}

h4 {
    font-size: 18px;
    margin-bottom: 18px;
}

h5 {
    font-size: 16px;
    margin-bottom: 18px;
}

h6 {
    font-size: 14px;
    margin-bottom: 16px;
}

blockquote {
    font-style: italic;
}

