h2 Education

ul.secondary-list

  li
    div
      span.t1 Software Development Engineer,
      span.t2 Universidad Abierta a Distancia (UNADM)
    div.t3 #[span.start-at 2012] al #[span.end-at 2018]

  li
    div
      span.t1 Electronics and Communications Engineer,
      span.t2 Universidad Autónoma de Nuevo León
    div.t3 #[span.start-at 1998] al #[span.end-at 2004]

