h2 Professional Experience

ul.main-list

  li

    h3
      span.t1 WebMD.com (San Antonio, TX, US),
      span.t2 Lead Software Developer,
      span.t3 #[span.start-at August 2018] - #[span.end-at Today] 

    .details

      p Throughout my career at WebMD, I have held the role of Offshore Team Development Leader. In this position, I lead distributed teams in different geographic locations, ensuring effective coordination and success of projects.

      p My primary responsibility is to oversee the update and maintenance of software for content creation, medical simulation and gamification. I work closely with the teams to ensure the quality and functionality of the software, as well as its adaptation to the needs and requirements of the business.

      p To accomplish these tasks, I use a wide range of technologies, including PHP, MySQL, JavaScript, CSS, HTML, NodeJS, MongoDB, CloudFlare, AWS, GitLab, Docker, Kubernetes, among others. These tools allow me to develop efficient and scalable solutions, ensuring optimal performance and a high quality user experience.


  li
    h3
      span.t1 Medsape.com (Durham, NC, US),
      span.t2 TechLead,
      span.t3 #[span.start-at February 2015] - #[span.end-at August 2018]

    .details

      p During my professional career within WebMD, I have specialized in the planning and development of projects in the field of medical simulation and health. I have worked in LAMP, NodeJS and Meteor environments, ensuring the successful implementation of efficient and high quality solutions.

      p I have led the test automation project, using tools such as Codeception and Selenium, along with cloud services such as BrowserStack. In this role, I have closely supervised the development of the project and ensured excellence in test execution, thus optimizing processes and ensuring the delivery of reliable results.

      p As part of my responsibilities, I have also remotely managed and trained a team of programmers located in different parts of the world. Through effective communication and clear guidance, I have managed to maintain a high level of productivity and quality in teamwork, overcoming geographical and cultural barriers.


  li

    h3
      span.t1 SpeedCommerce.com (Queretaro, Queretaro, MX),
      span.t2 Senior Developer,
      span.t3 #[span.start-at October 2010] - #[span.end-at January 2015]

    .details

      p During my time at SpeedCommerce.com as a Senior Developer, I had the opportunity to develop and maintain online stores based on the LAMP environment. I worked with a wide variety of clients, including #[a(href="https://en.wikipedia.org/wiki/Justice_(store)" target="_blank") Justice], #[a(href="https://en.wikipedia.org/wiki/The_Limited" target="_blank") The Limited], #[a(href="https://en.wikipedia.org/wiki/Metro_by_T-Mobile" target="_blank") MetroPCS], #[a(href="https://en.wikipedia.org/wiki/Yankee_Candle" target="_blank") Yankee Candle], #[a(href="https://en.wikipedia.org/wiki/DressBarn" target="_blank") Dressbarn], #[a(href="https://en.wikipedia.org/wiki/Army_%26_Air_Force_Exchange_Service" target="_blank") Exchange], #[a(href="https://en.wikipedia.org/wiki/Toys_%22R%22_Us" target="_blank") Toys "R" Us (Polonia)], #[a(href="https://en.wikipedia.org/wiki/Lowe%27s" target="_blank") Lowes (México)], #[a(href="https://en.wikipedia.org/wiki/H-E-B" target="_blank") HEB (México)], #[a(href="https://en.wikipedia.org/wiki/Huawei" target="_blank") Huawei]. My focus was on delivering high quality technology solutions and meeting the business needs of each client.

      p In addition, I assumed the responsibility of defining the framework and conventions for Frontend programming in the different projects. This work allowed me to maintain a coherent and efficient structure, thus optimizing the development and ensuring the quality of the code.

      p As for the layout, I focused on creating CSS/HTML/JS with compatibility for browsers used by people with some degree of visual impairment. My goal was to ensure accessibility and optimal browsing experience for all users.

      p During my time at SpeedCommerce.com, I also had the opportunity to develop the technical skills test for the position of "Frontend Developer", which was used during the recruitment process. This test allowed me to effectively evaluate the competencies and skills of the candidates, ensuring the selection of qualified and committed professionals.

  li
    h3
      span.t1 Justia.com (Saltillo, Coahuila, MX),
      span.t2 MidSenior Developer,
      span.t3 #[span.start-at August 2009] - #[span.end-at September 2010]

    .details

      p During my time at Justia.com as Mid-Senior Developer, I had the opportunity to lead the development of the portal-compendium of public domain laws for each of the Latin American countries, successfully meeting the established deadlines. Using my technical skills and experience in web development, I carried out an efficient and effective implementation, ensuring the functionality and accessibility of the portal using a combination of PHP, MySQL, JavaScript and CSS, as well as cloud services.

      p I played a key role in the configuration and implementation of new computer equipment in the company, as well as making decisions and advising on issues related to connectivity and communications services of the corporation. I ensured that the systems were properly installed and optimized for the work environment, and I was responsible for training staff in the use of the company's security systems and services. My focus on clear communication and facilitation of learning allowed for a smooth transition and rapid adoption of the new equipment by the team.

  li
    h3
      span.t1 Freelancer (Monterrey, NL, MX),
      span.t2 Wemaster
      span.t3 #[span.start-at August 2002] - #[span.end-at August 2009]

    .details

      p During my time as an independent Freelancer I performed application design and implementation activities using PHP and MySQL. In addition, I used PHPUnit to perform extensive unit testing, ensuring the quality and functionality of the system.

      p I had the opportunity to redesign and program the websites of several entertainment companies. I used my web development skills to improve the appearance and functionality of the sites, providing an enhanced user experience.

      p I programmed different CMS (Content Management System) with specific features, such as event scheduling, photo gallery management and reservation management. This customized solution allowed businesses to efficiently manage their content and provide an interactive experience to users.

      p I developed and implemented payment and affiliate software. These solutions allowed organizations to effectively manage online payments and administer affiliate programs, thus improving their performance and efficiency.
