h2 Idiomas

ul.idioms

  li.skill-entry
    .name Spanish
    .level
      .fa.fa-square
      .fa.fa-square
      .fa.fa-square
      .fa.fa-square

  li.skill-entry
    .name English
    .level
      .fa.fa-square
      .fa.fa-square
      .fa.fa-square
      .fa.fa-square-o

  li.skill-entry
    .name Russian
    .level
      .fa.fa-square
      .fa.fa-square-o
      .fa.fa-square-o
      .fa.fa-square-o
