h2 Formacion Academica

ul.secondary-list

  li
    div
      span.t1 Ing en Desarrollo de Software,
      span.t2 Universidad Abierta a Distancia (UNADM)
    div.t3 #[span.start-at 2012] al #[span.end-at 2018]

  li
    div
      span.t1 Ing en Electrónica y Comunicaciones,
      span.t2 Universidad Autónoma de Nuevo León
    div.t3 #[span.start-at 1998] al #[span.end-at 2004]

  li
    div
      span.t1 Técnico en Programación de Sistemas,
      span.t2 Instituto de Computación Empresarial de Tamaulipas
    div.t3 #[span.start-at 1996] al #[span.end-at 1998]

  li
    div
      span.t1 Técnico en Electrónica (Bachillerato Físico Matemático),
      span.t2 CBTis24
    div.t3 #[span.start-at 1995] al #[span.end-at 1998]
