h2 Skills

ul.skill-list

  li.group

    h3 Backend

    ul.sublist

      li.skill-entry
        .name PHP
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square

      li.skill-entry
        .name NodeJS
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o
          .fa.fa-square-o

      li.skill-entry
        .name Go
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o
          .fa.fa-square-o

  li.group

    h3 Frameworks

    ul

      li.skill-entry
        .name Symfony
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o

      li.skill-entry
        .name Laravel
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o
          .fa.fa-square-o

      li.skill-entry
        .name Meteor
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o
          .fa.fa-square-o

  li.group

    h3 Bases de Datos

    ul

      li.skill-entry
        .name MySQL
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o

      li.skill-entry
        .name MongoDB
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o
          .fa.fa-square-o

      li.skill-entry
        .name Sqlite
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o

  li.group

    h3 Frontend

    ul

      li.skill-entry
        .name JavaScript
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square

      li.skill-entry
        .name HTML5
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o

      li.skill-entry
        .name CSS3
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o

      li.skill-entry
        .name React
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o
          .fa.fa-square-o

      li.skill-entry
        .name Bootstrap
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o

      li.skill-entry
        .name Flexbox
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o

      li.skill-entry
        .name jQuery
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square

  li.group

    h3 Control de Versiones

    ul

      li.skill-entry
        .name Git
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o

      li.skill-entry
        .name SVN
        .level
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square
          .fa.fa-square-o

