doctype html
html

    head
        title Arturo Maltos personal site
        link(rel="stylesheet", href="css/main.min.css")
        meta(charset=utf8)
        meta(name="viewport",content="initial-scale=1,minimum-scale:1,maximum-scale:1")

      body

        header

            h1
                span.name Arturo Maltos

            .position Desarrollador &amp; Bailarin

                #avatar
                    img(src="images/avatar.png")
                    a#mail.fa.fa-envelope(href="mailto:m4ltos@gmail.com")

            .languages
                a(href="#") #[.flag-icon.flag-icon-es]
                a(href="#") #[.flag-icon.flag-icon-us]
                a(href="#") #[.flag-icon.flag-icon-ru]
                a(href="#") #[.flag-icon.flag-icon-pt]

        .content.wrap

            .work-experience.content-block

                h2 Experiencia Profesional

                ul.experience.block-list

                    li

                        .position-details
                            .company
                                .name #[a(href="http://www.webmd.com/",target="blank") WebMD],
                                .position Full Stack Lead Developer
                            .date #[span.start-at 2015] al #[span.end-at presente]

                        h3 Actividades

                        ul.bullet-list

                            li #[span.fa.fa-check] Desarrollo de aplicaciones web y mobiles basadas en ambientes #[a(href="#") LAMP] y #[a(href="#") NodeJS].

                            li #[span.fa.fa-check] Planeacion y desarrollo de multiples los proyectos bajo la metodologia #[a(href="#") Scrum].

                            li #[span.fa.fa-check] Planificacion, gestion y desarrollo del proyecto de automatizacion de pruebas basado en #[a(href="#") Codeception], #[a(href="#") Selenium] y servicios en la nube como #[a(href="#") BrowserStack]. Teniendo bajo supervicion un equipo de programadores de manera remota en India.

                    li

                        .position-details
                            .company
                                .name #[a(href="http://www.speedcommerce.com/",target="blank") SpeedCommerce]
                                .position Senior Developer
                            .date #[span.start-at 2010] al #[span.end-at 2015]

                        h3 Actividades

                        ul.bullet-list

                            li #[span.fa.fa-check] Desarrollo de aplicaciones web basadas en ambientes #[a(href="#") LAMP].

                            li #[span.fa.fa-check] Definicion de los estandares y diseño del framework para el desarrollo de la parte Frontend de los diferentes proyectos.

                    li
                        .position-details
                            .company
                                .name Justia
                                .position MidSenior Developer
                            .date #[span.start-at 2010] al #[span.end-at 2015]

            .quotes.content-block
                h2 Quotes

            .contact.content-block
                h2 Contacto
                ul.bullet-list
                    li #[a(href="https://gitlab.com/arumals",target="blank") #[.fa.fa-gitlab] @arumals]
                    li #[a(href="https://github.com/arumals",target="blank") #[.fa.fa-github] @arumals]
                    li #[a(href="https://www.facebook.com/arturomaltos",target="blank") #[.fa.fa-facebook] @arturo.maltos]
                    li #[a(href="https://twitter.com/arturomaltos",target="blank") #[.fa.fa-twitter] @arturomaltos]

            .idioms.content-block
                h2 Idiomas
                ul.bullet-list
                    li
                        .name Espa&ntilde;ol
                        .level
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                    li
                        .name Ingles
                        .level
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square-o
                    li
                        .name Ruso
                        .level
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square-o
                            .fa.fa-square-o
                            .fa.fa-square-o
                    li
                        .name Portugues
                        .level
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square-o
                            .fa.fa-square-o
                            .fa.fa-square-o

            .education.content-block
                h2 Formacion Academica

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat porro unde, suscipit aspernatur ea odit ducimus obcaecati quia sapiente, voluptate voluptatum in cum atque cumque asperiores, commodi illum. Autem et quae ducimus architecto asperiores dolorem ratione odit ipsam, ullam doloremque in, culpa dolore cum voluptatem, deleniti distinctio, dolores sed? Atque, delectus ad unde provident repellat minima eos, id nostrum veritatis omnis deleniti necessitatibus odit eum illo quisquam nobis porro nesciunt, tempore, harum itaque. Voluptas perferendis, modi, fugit earum consequatur debitis quam necessitatibus quasi similique, dolorem asperiores officia cupiditate pariatur sequi enim quaerat impedit magni ex. In, dolores voluptatibus veniam nemo.


