doctype html
html

    head
        title Arturo Maltos personal site
        link(rel="stylesheet", href="css/main.min.css")
        meta(charset=utf8)
        meta(name="viewport",content="initial-scale=1,minimum-scale:1,maximum-scale:1")

      body

        header

            h1
                span.name Arturo Maltos

            .position Desarrollador &amp; Bailarin

                #avatar
                    img(src="images/avatar.png")
                    a#mail.fa.fa-envelope(href="mailto:m4ltos@gmail.com")

            .languages
                a(href="#") #[.flag-icon.flag-icon-es]
                a(href="#") #[.flag-icon.flag-icon-us]
                a(href="#") #[.flag-icon.flag-icon-ru]
                a(href="#") #[.flag-icon.flag-icon-pt]

        ul.content

            li.work-experience

                h2 Experiencia Profesional

                ul.experience.block-list

                    li

                        .position-details
                            .company
                                .name #[a(href="http://www.webmd.com/",target="blank") WebMD]
                                .position Full Stack Lead Developer
                            .date #[span.start-at 2015] al #[span.end-at presente]

                        ul.bullet-list

                            li #[span.fa.fa-check] Desarrollo de aplicaciones web y mobiles basadas en ambientes #[a(href="https://es.wikipedia.org/wiki/LAMP",target="blank") LAMP] y #[a(href="https://www.meteor.com/",target="blank") Meteor].

                            li #[span.fa.fa-check] Planeacion y desarrollo de multiples los proyectos bajo la metodologia Scrum.

                            li #[span.fa.fa-check] Analisis de las diferentes etapas del desarrollo, en busqueda de implementar nuevos procesos para eliminar los existentes cuellos de botella.

                            li #[span.fa.fa-check] Planificacion, gestion y desarrollo del proyecto de automatizacion de pruebas basado en #[a(href="http://codeception.com/",target="blank") Codeception], #[a(href="http://www.seleniumhq.org/",target="blank") Selenium] y servicios en la nube como #[a(href="https://www.browserstack.com",target="blank") BrowserStack]. Supervisando y capacitando para ello un equipo de programadores de manera remota en India.

                            li #[span.fa.fa-check] Mentoring de estudiantes de carreras afines a la programacion de software durante el summer internship.

                    li

                        .position-details
                            .company
                                .name #[a(href="http://www.speedcommerce.com/",target="blank") SpeedCommerce]
                                .position Senior Developer
                            .date #[span.start-at 2010] al #[span.end-at 2015]

                        ul.bullet-list

                            li #[span.fa.fa-check] Desarrollo y mantenimiento de tiendas en linea basadas en el ambiente #[a(href="#") LAMP], para marcas como:

                            ul.client-list
                                li #[a(href="http://www.shopjustice.com/",target="blank") #[.fa.fa-share] Justice]
                                li #[a(href="http://www.thelimited.com/",target="blank") #[.fa.fa-share] The Limited]
                                li #[a(href="https://www.metropcs.com/",target="blank") #[.fa.fa-share] MetroPCS]
                                li #[a(href="http://www.yankeecandle.com/",target="blank") #[.fa.fa-share] Yankee Candle]
                                li #[a(href="https://www.dressbarn.com/",target="blank") #[.fa.fa-share] Dressbarn]
                                li #[a(href="https://www.shopmyexchange.com/",target="blank") #[.fa.fa-share] Exchange]
                                li #[a(href="http://www.toysrus.pl/",target="blank") #[.fa.fa-share] Toys R Us (Polonia)]
                                li #[a(href="http://lowes.com.mx/",target="blank") #[.fa.fa-share] Lowes (Mexico)]
                                li #[a(href="https://www.heb.com/",target="blank") #[.fa.fa-share] HEB]
                                li #[a(href="http://www.huawei.com",target="blank") #[.fa.fa-share] Huawei]


                            li #[span.fa.fa-check] Definicion del framework y las convenciones para el desarrollo de la parte Frontend de los diferentes proyectos.

                            li #[span.fa.fa-check] Maquetacion CSS/HTML/JS con compatibilidad para navegadores utilizados por personas con algun grado de discapacidad visual.

                            li #[span.fa.fa-check] Elaboracion del examen de habilidates tecnicas de la posicion "Frontend Developer", utilizado durante el proceso de reclutamiento.

                    li
                        .position-details
                            .company
                                .name #[a(href="http://www.justia.com",target="blank") Justia]
                                .position MidSenior Developer
                            .date #[span.start-at 2009] al #[span.end-at 2010]

                        ul.bullet-list

                            li #[span.fa.fa-check] Desarrollo en tiempo record del portal-compendio de leyes de dominio publico, para cada uno de los paises de america latina.

                            li #[span.fa.fa-check] Dise&ntilde;o y desarrollo de la aplicacion de linea de comandos que permite realizar web/document scraping, para la posterior utilizacion de dichos datos.

                            li #[span.fa.fa-check] Configuracion de los nuevos equipos de computo y capacitacion del personal en el uso de los sistemas y servicios de la compa&ntilde;ia.

                    li
                        .position-details
                            .company
                                .name MiAlcancia
                                .position MidSenior Developer
                            .date #[span.start-at 2008] al #[span.end-at 2009]

                        ul.bullet-list

                            li #[span.fa.fa-check] Dise&ntilde;o e implementacion de la aplicacion con soporte para:

                            ul.list-style-3
                                li #[.fa.fa-share] Registro de usuarios.
                                li #[.fa.fa-share] Pagos en banco referenciados.

                            li #[.fa.fa-check] Programacion de las pruebas unitarias a travez de toda la aplicacion mediante #[a(href="https://phpunit.de/",target="blank") PHPUnit].

                    li
                        .position-details
                            .company
                                .name Wontonmedia
                                .position Junior Developer
                            .date #[span.start-at 2003] al #[span.end-at 2008]

                        ul.bullet-list

                            li #[.fa.fa-check] Desarollo de sitos web enteramente o parcialmente en Adobe Flash.

                            li #[.fa.fa-check] Dise&ntilde;o de interfaces web en Photoshop.

                            li #[.fa.fa-check] Programacion de diferentes manejadores de contenido (CMS) para despliegue de blogs, galerias fotograficas y prensa en linea utilizando el framework #[a(href="https://symfony.com/",target="blank") Symfony].

                            li #[.fa.fa-check] Desarrollo del sistema de afiliacion, utilizado en diferentes campa&ntilde;as para la promocion de nuevos contenidos.

                            li #[.fa.fa-check] Programacion de nuevos features del sistema de afiliados #[a(href="https://www.toomuchmedia.com/pp_nats.htm",target="blank") NATS].

                            li #[.fa.fa-check] Implementacion de diferentes pasarelas de pago como #[a(href="https://www.ccbill.com/",target="blank") CCBill] y #[a(href="https://www.oakbill.com/",target="blank") Oakbill].

                    li
                        .position-details
                            .company
                                .name Grupo Rio
                                .position Webmaster
                            .date #[span.start-at 2002] al #[span.end-at 2003]

                        ul.bullet-list

                            li #[span.fa.fa-check] Redise&ntilde;o y programacion de todos los sitios web de las franquicias de la empresa.

                            li #[.fa.fa-check] Implementacion del sistema de estadisticas. Y reporte de resultados mensuales a cada uno de los franquiciatarios.

                            li #[.fa.fa-check] Desarrollo del sistema de gestion de contenido con soporte para: calendarizacion de eventos, administracion de galerias fotograficas y gestion de reservaciones.

                            li #[.fa.fa-check] Soporte tecnico en todos los ambitos relacionados con el area de conectividad.

                    li
                        .position-details
                            .company
                                .name AcademiaWeb
                                .position Capacitador
                            .date #[span.start-at 2000] al #[span.end-at 2002]

                        ul.bullet-list

                            li #[span.fa.fa-check] Profesor de los cursos de: HTML, CSS, Javascript, Macromedia Flash y ActionScript.

                            li #[.fa.fa-check] Desarrollo de nuevos cursos de Macromedia Flash, llevando la oferta de uno a tres.

            li.education

                h2 Formacion Academica

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat porro unde, suscipit aspernatur ea odit ducimus obcaecati quia sapiente, voluptate voluptatum in cum atque cumque asperiores, commodi illum. Autem et quae ducimus architecto asperiores dolorem ratione odit ipsam, ullam doloremque in, culpa dolore cum voluptatem, deleniti distinctio, dolores sed? Atque, delectus ad unde provident repellat minima eos, id nostrum veritatis omnis deleniti necessitatibus odit eum illo quisquam nobis porro nesciunt, tempore, harum itaque. Voluptas perferendis, modi, fugit earum consequatur debitis quam necessitatibus quasi similique, dolorem asperiores officia cupiditate pariatur sequi enim quaerat impedit magni ex. In, dolores voluptatibus veniam nemo.

            li.quotes
                h2 Quotes

            li.contact

                h2 Contacto

                ul.bullet-list.list-style-1
                    li #[a(href="https://gitlab.com/arumals",target="blank") #[.fa.fa-gitlab] @arumals]
                    li #[a(href="https://github.com/arumals",target="blank") #[.fa.fa-github] @arumals]
                    li #[a(href="https://www.facebook.com/arturomaltos",target="blank") #[.fa.fa-facebook] @arturo.maltos]
                    li #[a(href="https://twitter.com/arturomaltos",target="blank") #[.fa.fa-twitter] @arturomaltos]

            li.idioms

                h2 Idiomas

                ul.list-style-2

                    li
                        .name Espa&ntilde;ol
                        .level
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                    li
                        .name Ingles
                        .level
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square-o
                    li
                        .name Ruso
                        .level
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square-o
                            .fa.fa-square-o
                            .fa.fa-square-o
                    li
                        .name Portugues
                        .level
                            .fa.fa-square
                            .fa.fa-square
                            .fa.fa-square-o
                            .fa.fa-square-o
                            .fa.fa-square-o