h2 Contacto

ul
  li.skill-entry #[a(href="https://gitlab.com/arumals" target="blank") #[.fa.fa-gitlab] @arumals]
  li.skill-entry #[a(href="https://github.com/arumals" target="blank") #[.fa.fa-github] @arumals]