h2 Cursos

ul.secondary-list

  li 
    div
      span.t1 Microservices with NodeJS and React,
      span.t2 Udemy
      a(href="https://www.udemy.com/certificate/UC-1f3fbec5-7260-4b80-9178-7c0996868ce1/" target="_blank").fa.fa-download
    div.t3 Enero del 2023 

  li 
    div
      span.t1 Universal React with Next.js - The Ultimate Guide,
      span.t2 Udemy
      a(href="https://www.udemy.com/certificate/UC-0d9a1d2a-80c9-467d-85c4-ab6d6296aac0/" target="_blank").fa.fa-download
    div.t3 Enero del 2023 

  li 
    div
      span.t1 Gitlab CI : Pipelines, CI/CD,
      span.t2 Udemy
      a(href="https://www.udemy.com/certificate/UC-0143b577-08eb-48ab-beba-3cbc04b61c69/" target="_blank").fa.fa-download
    div.t3 Abril 2022 

  li 
    div
      span.t1 Docker, Quick Start,
      span.t2 Linux Academy
    div.t3 Diciembre 2020

  li 
    div
      span.t1 Ionic + React : Build Cross-Platform Apps (Web, Android, iOS),
      span.t2 Academind
      a(href="https://drive.google.com/file/d/17wvtCnoNcPiRgdb_VuB6dmODbY4AC77T/" target="_blank").fa.fa-download
    div.t3 Diciembre 2020 

  li 
    div
      span.t1 LPI Linux Essentials,
      span.t2 Linux Academy
    div.t3 Noviembre 2020

  li 
    div
      span.t1 Figma Interfaces Design,
      span.t2 Udemy
      a(href="https://www.udemy.com/certificate/UC-EA25NTSM/" target="_blank").fa.fa-download
    div.t3 Enero 2020 

  li 
    div
      span.t1 LaunchX: Becoming an Entrepreneur,
      span.t2 MITx Courses
      a(href="https://courses.edx.org/certificates/31341c238954486d8596ae8c3512d16c" target="_blank").fa.fa-download
    div.t3 Noviembre 2019 

  li 
    div
      span.t1 DEV234x: Asyncronous Programming with Javascript,
      span.t2 Microsoft
      a(href="https://courses.edx.org/certificates/a4e5788cc955466d9058284eabe74a2f" target="_blank").fa.fa-download
    div.t3 Marzo 2018 

  li 
    div
      span.t1 DEV283x: Introduction to Node.js,
      span.t2 Microsoft
      a(href="https://courses.edx.org/certificates/663d320a2ffc40238a0c8cb05a1450d1" target="_blank").fa.fa-download
    div.t3 Febrero 2018 

  li 
    div
      span.t1 AWS Certified Solutions Architect - Associate,
      span.t2 AWS Web Services (AWS)
      a(href="https://www.credly.com/badges/d66c0b00-9980-405c-a4c9-9541a4a2fe09/linked_in_profile" target="_blank").fa.fa-download
    div.t3 Noviembre 2017 

  li 
    div
      span.t1 Electron for Desktop Apps,
      span.t2 Udemy
      a(href="https://www.udemy.com/certificate/UC-6ZKF9DE6/" target="_blank").fa.fa-download
    div.t3 Septiembre 2017 

  li 
    div
      span.t1 Meteor and React for Realtime Apps,
      span.t2 Udemy
      a(href="https://www.udemy.com/certificate/UC-QKHF1XPW/" target="_blank").fa.fa-download
    div.t3 Septiembre 2017 

  li 
    div
      span.t1 Learn and Understand NodeJS,
      span.t2 Udemy
      a(href="https://www.udemy.com/certificate/UC-KP8MAOI2/" target="_blank").fa.fa-download
    div.t3 Enero 2017 

  li 
    div
      span.t1 Mastering Meteor,
      span.t2 Udemy
      a(href="https://www.udemy.com/certificate/UC-5J1LPD0D/" target="_blank").fa.fa-download
    div.t3 Octubre 2016 

  li
    div
      span.t1 MongoDB Advanced Deployment and Operations (M202),
      span.t2 Mongo University
      a(href="http://university.mongodb.com/course_completion/339b6d042efc47d19f3ddfd6f8d89260" target="_blank").fa.fa-download
    div.t3 Julio del 2016 

  li
    div
      span.t1 MongDB for Node.js Developers (M101JS),
      span.t2 Mongo University
      a(href="http://university.mongodb.com/course_completion/dbb56b8ec96744dab6815318ded4b388" target="_blank").fa.fa-download
    div.t3 Marzo del 2016 

  li
    div
      span.t1 Introduction to Meteor.js Development,
      span.t2 University of London (Coursera)
      a(href="https://www.coursera.org/account/accomplishments/certificate/37QUSZ2XCCVS" target="_blank").fa.fa-download
    div.t3 Febrero del 2016 

  li
    div
      span.t1 MongoDB for DBAs (M102),
      span.t2 Mongo University
      a(href="http://university.mongodb.com/course_completion/c2dce2370a804ad5a831d9921a021cc6" target="_blank").fa.fa-download
    div.t3 Febrero del 2016 

  li
    div
      span.t1 MongoDB for Developers (M101P),
      span.t2 Mongo University
      a(href="http://university.mongodb.com/course_completion/08bf017b646943ffbebd230648237d79" target="_blank").fa.fa-download
    div.t3 Diciembre del 2015 
