h2 Experiencia Profesional

ul.main-list

  li

    h3
      span.t1 WebMD.com (San Antonio, TX, US),
      span.t2 Lead Software Developer,
      span.t3 #[span.start-at August 2018] - #[span.end-at Presente] 

    .details

      p A lo largo de mi trayectoria en WebMD, he ocupado el rol de Líder de Desarrollo de Equipos Deslocalizados. En esta posición, lidero equipos distribuidos en diferentes ubicaciones geográficas, asegurando la coordinación efectiva y el éxito de los proyectos.

      p Mi responsabilidad principal es supervisar la actualización y mantenimiento de software para creación de contenido, simulación médica y gamificación. Trabajo en estrecha colaboración con los equipos para garantizar la calidad y la funcionalidad del software, así como su adaptación a las necesidades y requerimientos del negocio.

      p Para llevar a cabo estas tareas, utilizo una amplia gama de tecnologías, incluyendo PHP, MySQL, JavaScript, CSS, HTML, NodeJS, MongoDB, CloudFlare, AWS, GitLab, Docker, Kubernetes, entre otros. Estas herramientas me permiten desarrollar soluciones eficientes y escalables, asegurando un rendimiento óptimo y una experiencia de usuario de alta calidad.

  li
    h3
      span.t1 Medsape.com (Durham, NC, US),
      span.t2 TechLead,
      span.t3 #[span.start-at Febrero 2015] - #[span.end-at Agosto 2018]

    .details

      p Durante mi trayectoria profesional dentro de WebMD, me he especializado en la planificación y desarrollo de proyectos en el ámbito de la simulación médica y la salud. He trabajado en entornos LAMP, NodeJS y Meteor, asegurando la implementación exitosa de soluciones eficientes y de alta calidad.

      p He liderado el proyecto de automatización de pruebas, utilizando herramientas como Codeception y Selenium, junto con servicios en la nube como BrowserStack. En este rol, he supervisado de cerca el desarrollo del proyecto y he garantizado la excelencia en la ejecución de las pruebas, optimizando así los procesos y asegurando la entrega de resultados confiables.

      p Como parte de mis responsabilidades, también he dirigido y capacitado de manera remota a un equipo de programadores ubicados en diferentes partes del mundo. A través de una comunicación efectiva y una guía clara, he logrado mantener un alto nivel de productividad y calidad en el trabajo en equipo, superando las barreras geográficas y culturales.
  li

    h3
      span.t1 SpeedCommerce.com (Queretaro, Queretaro, MX),
      span.t2 Senior Developer,
      span.t3 #[span.start-at Octubre 2010] - #[span.end-at Enero 2015]

    .details

      p Durante mi etapa en SpeedCommerce.com como Senior Developer, tuve la oportunidad de desempeñarme en el desarrollo y mantenimiento de tiendas en línea basadas en el entorno LAMP. Trabajé con una amplia variedad de clientes, incluyendo #[a(href="https://en.wikipedia.org/wiki/Justice_(store)" target="_blank") Justice], #[a(href="https://en.wikipedia.org/wiki/The_Limited" target="_blank") The Limited], #[a(href="https://en.wikipedia.org/wiki/Metro_by_T-Mobile" target="_blank") MetroPCS], #[a(href="https://en.wikipedia.org/wiki/Yankee_Candle" target="_blank") Yankee Candle], #[a(href="https://en.wikipedia.org/wiki/DressBarn" target="_blank") Dressbarn], #[a(href="https://en.wikipedia.org/wiki/Army_%26_Air_Force_Exchange_Service" target="_blank") Exchange], #[a(href="https://en.wikipedia.org/wiki/Toys_%22R%22_Us" target="_blank") Toys "R" Us (Polonia)], #[a(href="https://en.wikipedia.org/wiki/Lowe%27s" target="_blank") Lowes (México)], #[a(href="https://en.wikipedia.org/wiki/H-E-B" target="_blank") HEB (México)], #[a(href="https://en.wikipedia.org/wiki/Huawei" target="_blank") Huawei]. Mi enfoque se centró en la entrega de soluciones tecnológicas de alta calidad y en la satisfacción de las necesidades comerciales de cada cliente.

      p Además, asumí la responsabilidad de definir el framework y las convenciones para la programación del Frontend en los diferentes proyectos. Esta labor permitió mantener una estructura coherente y eficiente, optimizando así el desarrollo y asegurando la calidad del código.

      p En cuanto a la maquetación, me enfoqué en crear CSS/HTML/JS con compatibilidad para navegadores utilizados por personas con algún grado de discapacidad visual. Mi objetivo era garantizar la accesibilidad y la experiencia óptima de navegación para todos los usuarios.

      p Durante mi tiempo en SpeedCommerce.com, también tuve la oportunidad de elaborar el examen de habilidades técnicas para la posición de "Frontend Developer", el cual fue utilizado durante el proceso de reclutamiento. Este examen me permitió evaluar de manera efectiva las competencias y aptitudes de los candidatos, asegurando la selección de profesionales cualificados y comprometidos.

  li
    h3
      span.t1 Justia.com (Saltillo, Coahuila, MX),
      span.t2 MidSenior Developer,
      span.t3 #[span.start-at Agosto 2009] - #[span.end-at Septiembre 2010]

    .details

      p Durante mi tiempo en Justia.com como Mid-Senior Developer, tuve la oportunidad de liderar el desarrollo del portal-compendio de leyes de dominio público para cada uno de los países de latinoamérica, cumpliendo con éxito los plazos establecidos. Utilizando mis habilidades técnicas y experiencia en el desarrollo web, llevé a cabo una implementación eficiente y efectiva, garantizando la funcionalidad y accesibilidad del portal utilizando una combinación de PHP, MySQL, JavaScript y CSS, así como servicios en la nube.

      p Desempeñé un rol clave en la configuración e implementación de nuevos equipos de cómputo en la empresa, así como toma de decisiones y asesoramiento en temas relacionados a la conectividad y servicios de comunicaciones de la empresa. Aseguré que los sistemas estuvieran correctamente instalados y optimizados para el entorno de trabajo, y me encargué de capacitar al personal en el uso de los sistemas y servicios de seguridad de la compañía. Mi enfoque en la comunicación clara y la facilitación del aprendizaje permitió una transición fluida y una rápida adopción de los nuevos equipos por parte del equipo.

  li
    h3
      span.t1 Freelancer (Monterrey, NL, MX),
      span.t2 Wemaster
      span.t3 #[span.start-at Agosto 2002] - #[span.end-at Agosto 2009]

    .details

      p Durante mi tiempo como Freelancer independiente desempeñé actividades de diseño e implementación de aplicaciones utilizando PHP y MySQL. Además, utilicé PHPUnit para llevar a cabo pruebas unitarias exhaustivas, asegurando la calidad y funcionalidad del sistema.

      p Tuve la oportunidad de rediseñar y programar los sitios web de diversas empresas de entretenimiento. Utilicé mis habilidades de desarrollo web para mejorar la apariencia y la funcionalidad de los sitios, brindando una experiencia mejorada para los usuarios.

      p Programé diferentes CMS (Sistema de Gestión de Contenidos) con características específicas, como la calendarización de eventos, la administración de galerías fotográficas y la gestión de reservaciones. Esta solución personalizada permitió a las empresas gestionar eficientemente sus contenidos y brindar una experiencia interactiva a los usuarios.

      p Desarrollé e implementé software de pagos y afiliados. Estas soluciones permitieron a las empresas gestionar de manera efectiva los pagos en línea y administrar programas de afiliados, mejorando así su rendimiento y eficiencia.
