h1 Arturo Maltos

.position Desarrollador &amp; Bailarin

  #avatar
    img(src="/images/avatar.png")
    a#mail.fa.fa-envelope(href="mailto:info@arumals.com")

.languages
  a(href="/es") #[.flag-icon.flag-icon-es]
  a(href="/en") #[.flag-icon.flag-icon-us]