h2 Idiomas

ul.idioms

  li.skill-entry
    .name Español
    .level
      .fa.fa-square
      .fa.fa-square
      .fa.fa-square
      .fa.fa-square

  li.skill-entry
    .name Inglés
    .level
      .fa.fa-square
      .fa.fa-square
      .fa.fa-square
      .fa.fa-square-o

  li.skill-entry
    .name Ruso
    .level
      .fa.fa-square
      .fa.fa-square-o
      .fa.fa-square-o
      .fa.fa-square-o