h2 Charlas y colaboraciones

ul.education.list-style-4

    li
        span.text-1 HTML Basico
        span.text-2 Facultad de Artes Visuales, UANL (Monterrey, NL, MX)
        span.text-3 Marzo 2008

    li
        span.text-1 Test Driven Development
        span.text-2 PHP7 Meetup Group (Chapel Hill, NC)
        span.text-3 #[span.start-at Mayo 2016]