h2 Charlas y colaboraciones

ul.education

    li
        .list-style-10
            span.text-1 HTML Básico
            span.text-2 Facultad de Artes Visuales, UANL (Monterrey, NL, MX)
            span.text-3 Marzo 2008

        .details
            p Charla impartida a los estudiantes de la Facultad de Artes Visuales.

    li
        .list-style-10
            span.text-1 Test Driven Development
            span.text-2 PHP7 Meetup Group (Chapel Hill, NC)
            span.text-3 Mayo 2016

        .details
            p Charla impartida en el PHP 7 Meetup Group de Chapel Hill, NC acerca de la automatización de pruebas en la nube, utilizando Codeception y BrowserStack.