h2 Contacto

ul.bullet-list.list-style-1
    li #[a(href="https://gitlab.com/arumals",target="blank") #[.fa.fa-gitlab] @arumals]
    li #[a(href="https://github.com/arumals",target="blank") #[.fa.fa-github] @arumals]
    li #[a(href="https://www.facebook.com/arturomaltos",target="blank") #[.fa.fa-facebook] @arturo.maltos]
    li #[a(href="https://twitter.com/arturomaltos",target="blank") #[.fa.fa-twitter] @arturomaltos]