h2 Cursos

ul.courses.list-style-4

    li
        span.text-1 MongoDB Advanced Deployment and Operations (M202)
        span.text-2 Mongo University
        span.text-3 Julio del 2016 #[a(href="http://university.mongodb.com/course_completion/339b6d042efc47d19f3ddfd6f8d89260").fa.fa-download]

    li
        span.text-1 MongDB for Node.js Developers (M101JS)
        span.text-2 Mongo University
        span.text-3 Marzo del 2016 #[a(href="http://university.mongodb.com/course_completion/dbb56b8ec96744dab6815318ded4b388").fa.fa-download]

    li
        span.text-1 MongoDB for DBAs (M102)
        span.text-2 Mongo University
        span.text-3 Febrero del 2016 #[a(href="http://university.mongodb.com/course_completion/c2dce2370a804ad5a831d9921a021cc6").fa.fa-download]

    li
        span.text-1 MongoDB for Developers (M101P)
        span.text-2 Mongo University
        span.text-3 Diciembre del 2015 #[a(href="http://university.mongodb.com/course_completion/08bf017b646943ffbebd230648237d79").fa.fa-download]

    li
        span.text-1 Introduction to Meteor.js Development
        span.text-2 University of London (Coursera)
        span.text-3 Febrero del 2016 #[a(href="https://www.coursera.org/account/accomplishments/certificate/37QUSZ2XCCVS").fa.fa-download]