h2 Formacion Academica

ul.education.list-style-4

	li
		span.text-1 Ing en Desarrollo de Software
		span.text-2 Universidad Abierta a Distancia
		span.text-3 #[span.start-at 2012] al #[span.end-at presente]

	li
		span.text-1 Ing en Electronica y Comunicaciones
		span.text-2 Universidad Autonoma de Nuevo Leon
		span.text-3 #[span.start-at 1998] al #[span.end-at 2014]

	li
		span.text-1 Tecnico en Programacion de Sistemas
		span.text-2 Instituto de Computacion Empresarial de Tamaulipas
		span.text-3 #[span.start-at 1995] al #[span.end-at 1998]

	li
		span.text-1 Tecnico en Electronica
		span.text-2 CBTis24
		span.text-3 #[span.start-at 1995] al #[span.end-at 1998]

	li
		span.text-1 Bachillerato Fisico Matematico
		span.text-2 CBTis24
		span.text-3 #[span.start-at 1995] al #[span.end-at 1998]