h2 Formacion Academica

ul.education.list-style-4

	li
		span.text-1 Ing en Desarrollo de Software
		span.text-2 Universidad Abierta a Distancia
		span.text-3 #[span.start-at 2012] al #[span.end-at presente]

	li
		span.text-1 Ing en Electrónica y Comunicaciones
		span.text-2 Universidad Autónoma de Nuevo León
		span.text-3 #[span.start-at 1998] al #[span.end-at 2014]

	li
		span.text-1 Técnico en Programación de Sistemas
		span.text-2 Instituto de Computación Empresarial de Tamaulipas
		span.text-3 #[span.start-at 1995] al #[span.end-at 1998]

	li
		span.text-1 Técnico en Electrónica (Bachillerato Físico Matemático)
		span.text-2 CBTis24
		span.text-3 #[span.start-at 1995] al #[span.end-at 1998]
