h2 Formacion Academica

ul.education.list-style-4

	li
		.text-1 Ing en Desarrollo de Software
		.text-2 Universidad Abierta a Distancia
		.text-3 #[span.start-at 2012] al #[span.end-at presente]

	li
		.text-1 Ing en Electronica y Comunicaciones
		.text-2 Universidad Autonoma de Nuevo Leon
		.text-3 #[span.start-at 1998] al #[span.end-at 2014]

	li
		.text-1 Tecnico en Electronica
		.text-2 CBTis24
		.text-3 #[span.start-at 1995] al #[span.end-at 1998]

	li
		.text-1 Tecnico en Programacion de Sistemas
		.text-2 Instituto de Computacion Empresarial
		.text-3 #[span.start-at 1995] al #[span.end-at 1998]