h2 Formacion Academica

ul.education.block-list

	li.list-style-4
		.text-1 #[.fa.fa-check] Ing Desarrollo de Software
		.text-2 UANL
		.text-3 #[span.start-at 2012] al #[span.end-at presente]

	li.list-style-4
		.text-1 #[.fa.fa-check] Ing En Electronica y Comunicaciones
		.text-2 UNDAM
		.text-3 #[span.start-at 1998] al #[span.end-at 2014]

	li.list-style-4
		.text-1 #[.fa.fa-check] Tecnico en Electronica
		.text-2 CBTis24
		.text-3 #[span.start-at 1995] al #[span.end-at 1998]

	li.list-style-4
		.text-1 #[.fa.fa-check] Tecnico en Programacion de Computadoras
		.text-2 ICEST
		.text-3 #[span.start-at 1995] al #[span.end-at 1998]