h2 Experiencia Profesional

ul.experience.block-list

    li

        .list-style-4
            .text-1 #[a(href="http://www.webmd.com/",target="blank") WebMD]
            .text-2 Full Stack Lead Developer
            .text-3 #[span.start-at 2015] al #[span.end-at presente]

        ul.bullet-list

            li #[span.fa.fa-check] Desarrollo de aplicaciones web y mobiles basadas en ambientes #[a(href="https://es.wikipedia.org/wiki/LAMP",target="blank") LAMP] y #[a(href="https://www.meteor.com/",target="blank") Meteor].

            li #[span.fa.fa-check] Planeacion y desarrollo de multiples los proyectos bajo la metodologia Scrum.

            li #[span.fa.fa-check] Analisis de las diferentes etapas del desarrollo, en busqueda de implementar nuevos procesos para eliminar los existentes cuellos de botella.

            li #[span.fa.fa-check] Planificacion, gestion y desarrollo del proyecto de automatizacion de pruebas basado en #[a(href="http://codeception.com/",target="blank") Codeception], #[a(href="http://www.seleniumhq.org/",target="blank") Selenium] y servicios en la nube como #[a(href="https://www.browserstack.com",target="blank") BrowserStack]. Supervisando y capacitando para ello un equipo de programadores de manera remota en India.

            li #[span.fa.fa-check] Mentoring de estudiantes de carreras afines a la programacion de software durante el summer internship.

    li

        .list-style-4
            .text-1 #[a(href="http://www.speedcommerce.com/",target="text-2") SpeedCommerce]
            .text-2 Senior Developer
            .text-3 #[span.start-at 2010] al #[span.end-at 2015]

        ul.bullet-list

            li #[span.fa.fa-check] Desarrollo y mantenimiento de tiendas en linea basadas en el ambiente #[a(href="#") LAMP], para marcas como:

            ul.client-list
                li #[a(href="http://www.shopjustice.com/",target="blank") #[.fa.fa-share] Justice]
                li #[a(href="http://www.thelimited.com/",target="blank") #[.fa.fa-share] The Limited]
                li #[a(href="https://www.metropcs.com/",target="blank") #[.fa.fa-share] MetroPCS]
                li #[a(href="http://www.yankeecandle.com/",target="blank") #[.fa.fa-share] Yankee Candle]
                li #[a(href="https://www.dressbarn.com/",target="blank") #[.fa.fa-share] Dressbarn]
                li #[a(href="https://www.shopmyexchange.com/",target="blank") #[.fa.fa-share] Exchange]
                li #[a(href="http://www.toysrus.pl/",target="blank") #[.fa.fa-share] Toys R Us (Polonia)]
                li #[a(href="http://lowes.com.mx/",target="blank") #[.fa.fa-share] Lowes (Mexico)]
                li #[a(href="https://www.heb.com/",target="blank") #[.fa.fa-share] HEB]
                li #[a(href="http://www.huawei.com",target="blank") #[.fa.fa-share] Huawei]


            li #[span.fa.fa-check] Definicion del framework y las convenciones para el desarrollo de la parte Frontend de los diferentes proyectos.

            li #[span.fa.fa-check] Maquetacion CSS/HTML/JS con compatibilidad para navegadores utilizados por personas con algun grado de discapacidad visual.

            li #[span.fa.fa-check] Elaboracion del examen de habilidates tecnicas de la posicion "Frontend Developer", utilizado durante el proceso de reclutamiento.

    li
        .list-style-4
            .text-1 #[a(href="http://www.justia.com",target="blank") Justia]
            .text-2 MidSenior Developer
            .text-3 #[span.start-at 2009] al #[span.end-at 2010]

        ul.bullet-list

            li #[span.fa.fa-check] Desarrollo en tiempo record del portal-compendio de leyes de dominio publico, para cada uno de los paises de america latina.

            li #[span.fa.fa-check] Dise&ntilde;o y desarrollo de la aplicacion de linea de comandos que permite realizar web/document scraping, para la posterior utilizacion de dichos datos.

            li #[span.fa.fa-check] Configuracion de los nuevos equipos de computo y capacitacion del personal en el uso de los sistemas y servicios de la compa&ntilde;ia.

    li
        .list-style-4
            .text-1 MiAlcancia
            .text-2 MidSenior Developer
            .text-3 #[span.start-at 2008] al #[span.end-at 2009]

        ul.bullet-list

            li #[span.fa.fa-check] Dise&ntilde;o e implementacion de la aplicacion con soporte para:

            ul.list-style-3
                li #[.fa.fa-share] Registro de usuarios.
                li #[.fa.fa-share] Pagos en banco referenciados.

            li #[.fa.fa-check] Programacion de las pruebas unitarias a travez de toda la aplicacion mediante #[a(href="https://phpunit.de/",target="blank") PHPUnit].

    li
        .list-style-4
            .text-1 Wontonmedia
            .text-2 Junior Developer
            .text-3 #[span.start-at 2003] al #[span.end-at 2008]

        ul.bullet-list

            li #[.fa.fa-check] Desarollo de sitos web enteramente o parcialmente en Adobe Flash.

            li #[.fa.fa-check] Dise&ntilde;o de interfaces web en Photoshop.

            li #[.fa.fa-check] Programacion de diferentes manejadores de contenido (CMS) para despliegue de blogs, galerias fotograficas y prensa en linea utilizando el framework #[a(href="https://symfony.com/",target="blank") Symfony].

            li #[.fa.fa-check] Desarrollo del sistema de afiliacion, utilizado en diferentes campa&ntilde;as para la promocion de nuevos contenidos.

            li #[.fa.fa-check] Programacion de nuevos features del sistema de afiliados #[a(href="https://www.toomuchmedia.com/pp_nats.htm",target="blank") NATS].

            li #[.fa.fa-check] Implementacion de diferentes pasarelas de pago como #[a(href="https://www.ccbill.com/",target="blank") CCBill] y #[a(href="https://www.oakbill.com/",target="blank") Oakbill].

    li
        .list-style-4
            .text-1 Grupo Rio
            .text-2 Webmaster
            .text-3 #[span.start-at 2002] al #[span.end-at 2003]

        ul.bullet-list

            li #[span.fa.fa-check] Redise&ntilde;o y programacion de todos los sitios web de las franquicias de la empresa.

            li #[.fa.fa-check] Implementacion del sistema de estadisticas. Y reporte de resultados mensuales a cada uno de los franquiciatarios.

            li #[.fa.fa-check] Desarrollo del sistema de gestion de contenido con soporte para: calendarizacion de eventos, administracion de galerias fotograficas y gestion de reservaciones.

            li #[.fa.fa-check] Soporte tecnico en todos los ambitos relacionados con el area de conectividad.

    li
        .list-style-4
            .text-1 AcademiaWeb
            .text-2 Capacitador
            .text-3 #[span.start-at 2000] al #[span.end-at 2002]

        ul.bullet-list

            li #[span.fa.fa-check] Profesor de los cursos de: HTML, CSS, Javascript, Macromedia Flash y ActionScript.

            li #[.fa.fa-check] Desarrollo de nuevos cursos de Macromedia Flash, llevando la oferta de uno a tres.