h2 Experiencia Profesional

ul.experience

    li

        .list-style-10
            span.text-1 WebMD.com (Durham, NC, US)
            span.text-2 Full Stack Lead Developer
            span.text-3 #[span.start-at Febrero 2015] al #[span.end-at presente]

        .details

            p Planeación y desarrollo de proyectos del área de la simulación medica y la salud, basados en ambientes LAMP y Meteor.

            p Planificación, gestión y desarrollo del proyecto de automatización de pruebas basado en Codeception, Selenium y servicios en la nube como BrowserStack. Supervisando y capacitando para ello un equipo de programadores de manera remota en India.

    li

        .list-style-10
            span.text-1 SpeedCommerce.com (Queretaro, Queretaro, MX)
            span.text-2 Senior Developer
            span.text-3 #[span.start-at Octubre del 2010] a #[span.end-at Enero del 2015]

        .details

            p Desarrollo y mantenimiento de tiendas en línea basadas en el ambiente LAMP para clientes como: Justice, The Limited, MetroPCS, Yankee Candle, Dressbarn, Exchange, Toys R Us (Polonia), Lowes (México), HEB, Huawei.

            p Definición del framework y las convenciones para la programación de la parte Frontend de los diferentes proyectos.

            p Maquetación CSS/HTML/JS con compatibilidad para navegadores utilizados por personas con algún grado de discapacidad visual.

            p Elaboración del examen de habilidades técnicas de la posición "Frontend Developer", utilizado durante el proceso de reclutamiento.

    li
        .list-style-10
            span.text-1 Justia.com (Saltillo, Coahuila, MX)
            span.text-2 MidSenior Developer
            span.text-3 #[span.start-at Agosto del 2009] a #[span.end-at Septiembre del 2010]

        .details

            p Desarrollo en tiempo record del portal-compendio de leyes de dominio público.

            p Configuración de los nuevos equipos de cómputo y capacitación del personal en el uso de los sistemas y servicios de la compañía.

    li
        .list-style-10
            span.text-1 MiAlcancia (Monterrey, NL, MX)
            span.text-2 MidSenior Developer
            span.text-3 #[span.start-at Agosto del 2008] a #[span.end-at Agosto del 2009]

        .details

            p Diseño e implementación de la aplicación completa utilizando PHP y MySQL, así como PHPUnit para llevar a cabo todas las pruebas unitarias.

    li
        .list-style-10
            span.text-1 Wontonmedia (Monterrey, NL, MX)
            span.text-2 Junior Developer
            span.text-3 #[span.start-at Octubre del 2002] a #[span.end-at Julio del 2008]

        .details

            p Diseño de sitios web utilizando Adobe Flash, Photoshop y Dreamweaver.

            p Programación de diferentes manejadores de contenido (CMS) para despliegue de blogs, galerías fotográficas y prensa en línea utilizando el framework Symfony.

            p Desarrollo del sistema de afiliación, utilizado en diferentes campañas para la promoción de nuevos contenidos.

            p Implementación de diferentes pasarelas de pago como CCBill y Oakbill en diferentes proyectos.

    li
        .list-style-10
            span.text-1 Grupo Rio (Monterrey, NL, MX)
            span.text-2 Webmaster
            span.text-3 #[span.start-at Enero del 2002] a #[span.end-at Septiembre del 2002]

        .details

            p Rediseño y programación de todos los sitios web de las franquicias de la empresa.

            p Implementación del sistema de estadísticas y reporte de resultados mensuales a cada uno de los franquiciatarios.

            p Programación del CMS con soporte para: calendarización de eventos, administración de galerías fotográficas y gestión de reservaciones.

    li
        .list-style-10
            span.text-1 AcademiaWeb (Monterrey, NL, MX)
            span.text-2 Capacitador
            span.text-3 #[span.start-at Julio del 2000] a #[span.end-at Diciembre del 2001]

        .details

            p Profesor y autor de los cursos de: HTML, CSS, JavaScript, Macromedia Flash y ActionScript.
