h2 Skills

ul.list-style-5
      li MongoDB
      li NodeJS
      li Meteor
      li MySQL
      li Sqlite
      li PHP
      li Laravel
      li Go
      li HTML5
      li CSS3
      li JavaScript
      li React
      li Bootstrap
      li Flexbox
      li jQuery
      li OOP
      li Design Patterns
      li Ecommerce
      li Git
      li SVN