h2 Skills

ul.list-style-6

    li.group

        h3 Backend

        ul

            li
                .name PHP
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square

            li
                .name NodeJS
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o
                    .fa.fa-square-o

            li
                .name Go
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o
                    .fa.fa-square-o

    li.group

        h3 Frameworks

        ul

            li
                .name Symfony
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square

            li
                .name Laravel
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o

            li
                .name Meteor
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o

    li.group

        h3 Bases de Datos

        ul

            li
                .name MySQL
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square

            li
                .name MongoDB
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o
                    .fa.fa-square-o

            li
                .name Sqlite
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square

    li.group

        h3 Frontend

        ul

            li
                .name JavaScript
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square

            li
                .name HTML5
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o

            li
                .name CSS3
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o

            li
                .name React
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o
                    .fa.fa-square-o

            li
                .name Bootstrap
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o

            li
                .name Flexbox
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o

            li
                .name jQuery
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square

    li.group

        h3 Control de Versiones

        ul

            li
                .name Git
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square

            li
                .name SVN
                .level
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square
                    .fa.fa-square-o

